extends ./layout/resume-layout.jade
include ./mixins/util.jade

block experience
  +section("experience", true)
    each item in experience
      if (item.type == "experience")
        li.timeline-item(class="education-" + item.stage)
          h3.timeline-title
            span.education-place= item.place
            time.education-time #{item.start} ~ #{item.end}
          dl.education-description.timeline-content
            dt.education-name= item.name
            dd.education-major= item.description
      else
        li.timeline-item(class="education-" + item.stage)
          h3.timeline-title
            time.education-time #{item.start} ~ #{item.end}
          .education-description.timeline-content
            .education-name= item.name
              span.education-degree= item.major + education_type[item.stage]
//
//
//
//block language
//  +section("language", false)
//    each lang in language
//      +certificate(lang.certificate)
//      ul.language-description
//        each desc in lang.description
//          li.language-desc-item= desc


block project
  +section("project", true)
    each item in project
      li.timeline-item(class="experience-" + item.type)
        h3.timeline-title
          span.experience-place= item.place
          time.experience-time #{item.start} ~ #{item.end}
        dl.experience-description.timeline-content
          dt.experience-position= item.name
            if item.source_code
              a.experience-project-link(href= item.source_code)= dict.source_code
            if item.demo
              a.experience-project-link(href= item.demo)= dict.demo
            if item.online
              a.experience-project-link(href= item.online)= dict.online
          dd.experience-task= item.description



block skills
  +section("skills", true)
    each item in skills
      li.timeline-item(class="skills-" + item.type)
        h3.timeline-title
          span.skills-type= skill_type[item.type]
        +#{"skills_" + item.type}(item)


block links
    ul.links
      each link in links
        li.link
          a(href=link.url)= link_type[link.type]

block repo
  p
    | This resume is generated with a branch of #[a(href="https://github.com/joyeecheung/resume") resume generator] by
    | #[a(href="https://github.com/cheekahao/resume")&nbsp;Cheeka Hao].
