extends ./layout/resume-layout.jade
include ./mixins/util.jade

block project
  +section("experience", true)
    each item in project
      if item.type != 'other-experience'
        li.timeline-item(class="experience-" + item.type)
          h3.timeline-title
            span.experience-place= item.place
            if (item.start && item.end)
              time.experience-time #{item.start} ~ #{item.end}
          each projectItem in item.list
            dl.experience-description.timeline-content
              dt.experience-position= projectItem.name
                if projectItem.source_code
                  a.experience-project-link(href= projectItem.source_code)= dict.source_code
                if projectItem.demo
                  a.experience-project-link(href= projectItem.demo)= dict.demo
                if projectItem.online
                  a.experience-project-link(href= projectItem.online)= dict.online
                span.experience-job= projectItem.job
              dd.experience-task!= highlight(projectItem.description)
      if item.type == 'other-experience'
        li.timeline-item(class="experience-" + item.type)
          h3.timeline-title
            span.experience-place= item.place
          dl.experience-other.timeline-content
            each projectItem in item.list
              dd
                span.name= projectItem.name
                span.job= projectItem.job
                time.experience-time #{projectItem.start} ~ #{projectItem.end}
block skills
  +section("skills", true)
    each item in skills
      li.timeline-item(class="skills-" + item.type)
        h3.timeline-title
          span.skills-type= skill_type[item.type]
        +#{"skills_" + item.type}(item)
block self-appraisal
  +section("self_appraisal", true)
    each item in self_appraisal
      li.self-appraisal-item= item

block links
    ul.links
      each link in links
        li.link
          a(href=link.url)= link_type[link.type]

block print-link
  section.print-link
    span 在线简历
    a(href="https://cheekahao.github.io/resume")= "https://cheekahao.github.io/resume"

block repo
  p
    | This resume is generated with a branch of #[a(href="https://github.com/joyeecheung/resume") resume generator] by
    | #[a(href="https://github.com/cheekahao/resume")&nbsp;Cheeka Hao].
