extends ./layout.jade
include ../mixins/util.jade

block title
  title= resume_title

block style
  link(rel='stylesheet', href="index.css")

block header
  header.row
    figure.header-qrcode
      +responsive("photo", photo, "invisible-lt-sm visible-print")
    section.title
      h1= name
      h2= job_description.join("/")
    address
      ul.base_info
        each item in base_info
          li= item
      ul.contact
        each item, key in contact
          +#{key}(item)
        //+responsive("wechat", contact.wechat, "visible-lt-sm invisible-print")


block content
  article.content.row
    block print-link
    block experience
    block language
    block skills
    block project





block footer
  footer
    block repo


block sidebar
  aside
    block links

block IEcondition
    <!--[if lte IE 8]>
    .lte-ie8-comment-wrapper
      p.lte-ie8-comment #{lt_ie8_comment}
    <![endif]-->


//article.column-6.first.column
//article.column-6.last.column